" Searching and Casing
set incsearch      " Show search results while typing
set hlsearch       " High-light search results
set ignorecase     " Ignore upper/lower-case
set smartcase      " Only use case sensitive search when Uppercase letters are typed
" nnoremap <CR> :noh<CR><CR> " turn off highlighting after pressing CR
" nnoremap <Esc> :noh<CR><Esc> " turn off highlighting after pressing CR

" Leaving insert mode
:imap <C-L> <Esc>
:imap jj <Esc>
:imap jk <Esc>
:imap kj <Esc>

" While in insert mode, jump to (soft) beginning / end of line
inoremap <C-a> <Esc><S-I>
inoremap <C-e> <Esc><S-A>
" EOF